In [88]:
import pandas as pd
import time
import requests

In [89]:
API_KEY = "xxxxx"

In [168]:
# Channel_id = "UCW8Ews7tdKKkBT6GdtQaXvQ"


Channel_id = 'UCnz-ZXXER4jOvuED5trXfEA'

In [169]:
response1 = requests.get('https://api.github.com').json()

In [170]:
response1

{'current_user_url': 'https://api.github.com/user',
 'current_user_authorizations_html_url': 'https://github.com/settings/connections/applications{/client_id}',
 'authorizations_url': 'https://api.github.com/authorizations',
 'code_search_url': 'https://api.github.com/search/code?q={query}{&page,per_page,sort,order}',
 'commit_search_url': 'https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}',
 'emails_url': 'https://api.github.com/user/emails',
 'emojis_url': 'https://api.github.com/emojis',
 'events_url': 'https://api.github.com/events',
 'feeds_url': 'https://api.github.com/feeds',
 'followers_url': 'https://api.github.com/user/followers',
 'following_url': 'https://api.github.com/user/following{/target}',
 'gists_url': 'https://api.github.com/gists{/gist_id}',
 'hub_url': 'https://api.github.com/hub',
 'issue_search_url': 'https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}',
 'issues_url': 'https://api.github.com/issues',
 'keys_url': 'https://api.github.com/user/keys',
 'label_search_url': 'https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}',
 'notifications_url': 'https://api.github.com/notifications',
 'organization_url': 'https://api.github.com/orgs/{org}',
 'organization_repositories_url': 'https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}',
 'organization_teams_url': 'https://api.github.com/orgs/{org}/teams',
 'public_gists_url': 'https://api.github.com/gists/public',
 'rate_limit_url': 'https://api.github.com/rate_limit',
 'repository_url': 'https://api.github.com/repos/{owner}/{repo}',
 'repository_search_url': 'https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}',
 'current_user_repositories_url': 'https://api.github.com/user/repos{?type,page,per_page,sort}',
 'starred_url': 'https://api.github.com/user/starred{/owner}{/repo}',
 'starred_gists_url': 'https://api.github.com/gists/starred',
 'topic_search_url': 'https://api.github.com/search/topics?q={query}{&page,per_page}',
 'user_url': 'https://api.github.com/users/{user}',
 'user_organizations_url': 'https://api.github.com/user/orgs',
 'user_repositories_url': 'https://api.github.com/users/{user}/repos{?type,page,per_page,sort}',
 'user_search_url': 'https://api.github.com/search/users?q={query}{&page,per_page,sort,order}'}

In [171]:
pageToken = "" 
url = 'https://www.googleapis.com/youtube/v3/search?key='+API_KEY+'&channelId='+Channel_id+'&part=snippet,id&order=date&maxResults=1000'+pageToken

response = requests.get(url).json()

In [172]:
response

{'kind': 'youtube#searchListResponse',
 'etag': 'FdsigMhbBAGL1c_79XZiEbx3HOQ',
 'nextPageToken': 'CDIQAA',
 'regionCode': 'IN',
 'pageInfo': {'totalResults': 101, 'resultsPerPage': 50},
 'items': [{'kind': 'youtube#searchResult',
   'etag': 'Xc3qwBIrMwMD9rHk43SNlB4HJ2E',
   'id': {'kind': 'youtube#video', 'videoId': 'HiscSRv7zWk'},
   'snippet': {'publishedAt': '2023-08-25T13:00:09Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving a Real SQL Interview Problem | Job Vacancies SQL Query',
    'description': 'In this video, we are Solving a Real SQL Interview Problem about displaying Job Vacancies using an SQL Query. Treat this SQL ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-08-25T13:00:09Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'MS2JWYZi4F_-QGON29GfzkoiGD0',
   'id': {'kind': 'youtube#video', 'videoId': 'PLN28d0PoFU'},
   'snippet': {'publishedAt': '2023-08-20T08:17:01Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Python Bootcamp for Beginners | Python Course | Live Training',
    'description': 'My next Python Bootcamp for beginners will start from 26th Aug 2023. The format of the BootCamp will be Live & Interactive Video ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/PLN28d0PoFU/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/PLN28d0PoFU/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/PLN28d0PoFU/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-08-20T08:17:01Z'}},
  {'kind': 'youtube#searchResult',
   'etag': '2Y_QdKU-LOzqyDD3fl2SmzH7cR8',
   'id': {'kind': 'youtube#video', 'videoId': 'GxmrInUIMAE'},
   'snippet': {'publishedAt': '2023-08-19T13:14:46Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL Data Analytics Project (PART 3) | Data Analyst Portfolio Project',
    'description': 'This is the THIRD and FINAL part of the video series where I will build an Otodom Data Analysis project using SQL, Python, and ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/GxmrInUIMAE/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/GxmrInUIMAE/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/GxmrInUIMAE/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-08-19T13:14:46Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'ifHoVy_wdblfYNTph68yLDt2vdM',
   'id': {'kind': 'youtube#video', 'videoId': 'D0-Qy7yk5TQ'},
   'snippet': {'publishedAt': '2023-08-06T13:00:08Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL Data Analytics Project (PART 2) | Data Analyst Portfolio Project',
    'description': 'This is the SECOND part of the video series where I will build a Data Analytics project using SQL, Python, and Google Sheets.',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/D0-Qy7yk5TQ/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/D0-Qy7yk5TQ/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/D0-Qy7yk5TQ/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-08-06T13:00:08Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'JJQdbHVMmyBctKKdu40U_fo5_wM',
   'id': {'kind': 'youtube#video', 'videoId': 'GHtX0QXfi6g'},
   'snippet': {'publishedAt': '2023-08-04T13:00:11Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL Data Analytics Project (PART 1) | Data Analyst Portfolio Project',
    'description': 'This is the first part of the video series where I will build a Data Analytics project using SQL, Python, and Google Sheets. In this ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/GHtX0QXfi6g/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/GHtX0QXfi6g/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/GHtX0QXfi6g/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-08-04T13:00:11Z'}},
  {'kind': 'youtube#searchResult',
   'etag': '6ad7p6b6CMBIEQJHyXvxk7QgQ10',
   'id': {'kind': 'youtube#video', 'videoId': '0QcEqFrhb_Y'},
   'snippet': {'publishedAt': '2023-05-25T14:35:13Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Learn SQL from me | Live SQL Training | SQL Bootcamp',
    'description': 'In this video, I highlight the 3 reasons why many are struggling to learn SQL and how I can help with a couple of the reasons.',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/0QcEqFrhb_Y/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/0QcEqFrhb_Y/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/0QcEqFrhb_Y/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-05-25T14:35:13Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'uPIfU0S3LoAHWmpDTvwFtwhHfQc',
   'id': {'kind': 'youtube#video', 'videoId': 'smztq8sRAhk'},
   'snippet': {'publishedAt': '2023-05-16T13:45:59Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Learn Python here | Learn Python Programming here',
    'description': 'In this video, I will showcase a dedicated online platform for learning Python. This platform contains multiple different Python ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/smztq8sRAhk/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/smztq8sRAhk/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/smztq8sRAhk/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-05-16T13:45:59Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'rL-X15Dq-XCrIzDOPjcLgYEbwls',
   'id': {'kind': 'youtube#video', 'videoId': '7skZzocEU6c'},
   'snippet': {'publishedAt': '2023-03-21T13:00:12Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving a Complex SQL Interview problem | Practice SQL Queries',
    'description': 'In this video, let us solve a complex SQL interview problem. This is a REAL SQL Interview question that might seem impossible to ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/7skZzocEU6c/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/7skZzocEU6c/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/7skZzocEU6c/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-03-21T13:00:12Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'cUcCflskgcTZvhUo_bDxpTEnfTQ',
   'id': {'kind': 'youtube#video', 'videoId': 'LZGaRcDxj8I'},
   'snippet': {'publishedAt': '2023-03-14T13:00:09Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'REAL SQL Interview Problem | Hierarchical data in SQL',
    'description': 'In this video let us solve a real SQL interview problem. This problem is to find the hierarchy of employees. We shall first ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/LZGaRcDxj8I/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/LZGaRcDxj8I/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/LZGaRcDxj8I/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-03-14T13:00:09Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'fKOFjLG9KPU33ruNOEJVMCtqgYE',
   'id': {'kind': 'youtube#video', 'videoId': 'rBPQ5fg_kiY'},
   'snippet': {'publishedAt': '2023-03-07T13:00:07Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Complete guide to Database Normalization in SQL',
    'description': 'This is a complete guide for anyone to understand Database Normalization in SQL. I will not just explain the Normalization ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-03-07T13:00:07Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'vOE1ecbLrkYTS5WfMeq8M-pmGDM',
   'id': {'kind': 'youtube#video', 'videoId': 'hvwltYazuQo'},
   'snippet': {'publishedAt': '2023-01-26T07:00:07Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL Live class on Lighthall | Learn SQL from Basic to Advance in SQL Bootcamp',
    'description': "In this video, I talk about the Live SQL Classes that I'll be taking on Lighthall from 01-Feb-2023. This SQL Bootcamp will cover ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/hvwltYazuQo/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/hvwltYazuQo/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/hvwltYazuQo/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-01-26T07:00:07Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'ZnBuOF4b_blGdA86hiFeYjIb0-4',
   'id': {'kind': 'youtube#video', 'videoId': 'a-hFbr-4VQQ'},
   'snippet': {'publishedAt': '2022-12-28T13:00:10Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'How to learn SQL for free | Roadmap to learning SQL',
    'description': 'In this video, you will find complete roadmap on how to learn SQL for Beginners, Intermediate level, Advanced level and for ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-12-28T13:00:10Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'dubHy8mUAlNWID5gU7Da9Zfe6UY',
   'id': {'kind': 'youtube#playlist',
    'playlistId': 'PLavw5C92dz9Ef4E-1Zi9KfCTXS_IN8gXZ'},
   'snippet': {'publishedAt': '2022-12-26T18:43:12Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Learn Complete SQL (Beginner to Advance)',
    'description': 'This playlist helps you learn Basic, Intermediate and Advance level of SQL. There will be more videos added to cover all SQL ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-12-26T18:43:12Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'KQMN6Ha0UnQEAMMKKKf9qEY5tXs',
   'id': {'kind': 'youtube#video', 'videoId': 'pMNcPLc9Z7c'},
   'snippet': {'publishedAt': '2022-12-18T13:39:48Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving an SQL Interview Problem',
    'description': "In this video, let's solve an SQL interview query taken from LeetCode. The problem might seem complex at first but there is a very ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/pMNcPLc9Z7c/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/pMNcPLc9Z7c/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/pMNcPLc9Z7c/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-12-18T13:39:48Z'}},
  {'kind': 'youtube#searchResult',
   'etag': '7IU9uG79pb2_V8dzL0niLFOphPs',
   'id': {'kind': 'youtube#video', 'videoId': 'zZKb8FQRShs'},
   'snippet': {'publishedAt': '2022-12-12T13:30:15Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving SQL Interview Query | Find Tree Node type using SQL',
    'description': "The first 1000 people to use the link will get a 1 month free trial of Skillshare: https://skl.sh/techtfq12221 In this video, let's solve an ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/zZKb8FQRShs/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/zZKb8FQRShs/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/zZKb8FQRShs/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-12-12T13:30:15Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'fl0pn1ui-oF4IgDJBMXa6FbGJQA',
   'id': {'kind': 'youtube#video', 'videoId': 'jS5_hjFgfzA'},
   'snippet': {'publishedAt': '2022-12-07T13:25:28Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving SQL Interview Query for Data Analyst asked by a Product based company',
    'description': "In this video let's solve a real SQL Interview query asked for Data Analyst position by a Product Based company. Download the ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/jS5_hjFgfzA/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/jS5_hjFgfzA/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/jS5_hjFgfzA/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-12-07T13:25:28Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'zqje92n8kFYfV15hqz7m6unF9_Q',
   'id': {'kind': 'youtube#video', 'videoId': '6UAU79FNBjQ'},
   'snippet': {'publishedAt': '2022-11-21T13:00:04Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving a tricky SQL Interview Query',
    'description': "In this video, let's solve an SQL query which can be pretty commonly asked during SQL interviews. This is a basic to intermediate ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/6UAU79FNBjQ/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/6UAU79FNBjQ/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/6UAU79FNBjQ/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-11-21T13:00:04Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'Twb9dAUWneyX1boPg7CiFEUdtTU',
   'id': {'kind': 'youtube#video', 'videoId': 'ZwFfiadQB3k'},
   'snippet': {'publishedAt': '2022-11-14T13:00:17Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL Interview Query for Data Analyst',
    'description': "The first 1000 people to use the link will get a 1 month free trial of Skillshare: https://skl.sh/techtfq11221 In this video, let's solve a ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/ZwFfiadQB3k/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/ZwFfiadQB3k/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/ZwFfiadQB3k/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-11-14T13:00:17Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'KYDU7I803sfRIW00FxKEGHqWE_U',
   'id': {'kind': 'youtube#video', 'videoId': 'Det4ZjBSe3M'},
   'snippet': {'publishedAt': '2022-10-31T13:00:16Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Solving a Complex SQL Interview Problem | Find the Most Modified File Extension',
    'description': "In this video let's solve a intermediate/complex sql interview query. The problem was shared during a recent sql interview. We are ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/Det4ZjBSe3M/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/Det4ZjBSe3M/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/Det4ZjBSe3M/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-10-31T13:00:16Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'wvDajZdOwM3Wnyq1Ii05iJwxZ30',
   'id': {'kind': 'youtube#video', 'videoId': 'xUsY2jWQa1w'},
   'snippet': {'publishedAt': '2022-10-24T13:30:12Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'SQL JOINS Interview Question | What does different SQL Joins return?',
    'description': 'Given 2 tables, identify the no of records returned using different type of SQL Joins. This is a very frequently asked SQL Interview ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/xUsY2jWQa1w/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/xUsY2jWQa1w/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/xUsY2jWQa1w/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',
    'publishTime': '2022-10-24T13:30:12Z'}},
  {'kind': 'youtube#searchResult',
   'etag': 'xZD30LrCd4K-pK_vW7BaY8Smbsc',
   'id': {'kind': 'youtube#video', 'videoId': 'ueOUSjdAZY8'},
   'snippet': {'publishedAt': '2022-10-10T13:00:28Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Google SQL Interview Problem | Solving SQL Interview Query',
    'description': "The first 1000 people to use the link will get a 1 month free trial of Skillshare: https://skl.sh/techtfq10221 In this video, let's solve an ...",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/ueOUSjdAZY8/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/ueOUSjdAZY8/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/ueOUSjdAZY8/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': 'techTFQ',
    'liveBroadcastContent': 'none',

In [173]:
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': 'Xc3qwBIrMwMD9rHk43SNlB4HJ2E',
 'id': {'kind': 'youtube#video', 'videoId': 'HiscSRv7zWk'},
 'snippet': {'publishedAt': '2023-08-25T13:00:09Z',
  'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
  'title': 'Solving a Real SQL Interview Problem | Job Vacancies SQL Query',
  'description': 'In this video, we are Solving a Real SQL Interview Problem about displaying Job Vacancies using an SQL Query. Treat this SQL ...',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/HiscSRv7zWk/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'techTFQ',
  'liveBroadcastContent': 'none',
  'publishTime': '2023-08-25T13:00:09Z'}}

In [174]:
video_id = response['items'][1]['id']['videoId']

In [204]:
response['items'][1]['snippet']['channelTitle']

'techTFQ'

In [175]:
video_id

'PLN28d0PoFU'

In [176]:
for i in range(0,50):
    video_title = response['items'][i]['snippet']['title']
    print(video_title)

Solving a Real SQL Interview Problem | Job Vacancies SQL Query
Python Bootcamp for Beginners | Python Course | Live Training
SQL Data Analytics Project (PART 3) | Data Analyst Portfolio Project
SQL Data Analytics Project (PART 2) | Data Analyst Portfolio Project
SQL Data Analytics Project (PART 1) | Data Analyst Portfolio Project
Learn SQL from me | Live SQL Training | SQL Bootcamp
Learn Python here | Learn Python Programming here
Solving a Complex SQL Interview problem | Practice SQL Queries
REAL SQL Interview Problem | Hierarchical data in SQL
Complete guide to Database Normalization in SQL
SQL Live class on Lighthall | Learn SQL from Basic to Advance in SQL Bootcamp
How to learn SQL for free | Roadmap to learning SQL
Learn Complete SQL (Beginner to Advance)
Solving an SQL Interview Problem
Solving SQL Interview Query | Find Tree Node type using SQL
Solving SQL Interview Query for Data Analyst asked by a Product based company
Solving a tricky SQL Interview Query
SQL Interview Query for Data Analyst
Solving a Complex SQL Interview Problem | Find the Most Modified File Extension
SQL JOINS Interview Question | What does different SQL Joins return?
Google SQL Interview Problem | Solving SQL Interview Query
SQL Interview Problem asked by Product Based Company | Solving SQL Interview Query
How to become a Data Analyst FASTER ?
Tricky SQL Interview Query | Practice Solving SQL Interview Queries
Solving SQL Interview Query using a &quot;VERY IMPORTANT SQL concept&quot;
Solving SQL Interview Query | SQL Problem by Service based company
Practice SQL Interview Query | Big 4 Interview Question
Solving SQL Interview Query | Ungroup given input data | FAANG Interview Query
How to remove Duplicate Data in SQL | SQL Query to remove duplicate
SQL Tutorial - Basic concepts
Practice Solving COMPLEX SQL Queries
Practice Solving INTERMEDIATE SQL Queries
Solving Complex SQL Query from HackerRank | SQL Interview Query
Data Analyst vs Business Analyst | What should you choose?
Materialized View in SQL | Faster SQL Queries using Materialized Views
Learn SQL the right way | SQL Live Training | Learn SQL from me
SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 2 (Query Solution)
SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 1 (Problem Statement)
REAL SQL Interview Question | Complex SQL Interview Query and Solution
Top 10 Tips for JOB Interview | Tips for Job Interview
Solving SQL Query | Rows to Column in SQL
Procedure Tutorial in SQL | SQL Stored Procedure | Procedure in SQL
my Live SQL Course Announcement #shorts
Best Online SQL Course to practically learn and practice SQL
Recursive SQL Queries Tutorial | Learn to write SQL Queries using Recursion
Solving SQL Interview Queries | Tricky SQL Interview Queries
How to learn SQL | Step by Step Guide on how to learn SQL
ANSI vs Non ANSI Joins in SQL | SQL Query Writing using ANSI and Non ANSI method
Data Analytics career and more
Python Tutorial

In [177]:
video_title = response['items'][40]['snippet']['title']

In [178]:
video_title

'Solving SQL Query | Rows to Column in SQL'

In [179]:
video_title = str(video_title).replace("&amp;","")

In [180]:
video_title

'Solving SQL Query | Rows to Column in SQL'

In [181]:
upload_date = response['items'][40]['snippet']['publishTime']

In [182]:
upload_date

'2022-05-18T13:21:24Z'

In [183]:
upload_date = upload_date.split("T")[0]

In [184]:
upload_date

'2022-05-18'

In [185]:
for video in response['items']:
    
    if video['id']['kind'] == 'youtube#video':
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        video_title = str(video_title).replace("&amp;","")
        upload_date = video['snippet']['publishTime']
        upload_date = upload_date.split("T")[0]
    
    
    print(video_id)
    print(video_title)
    print(upload_date)

HiscSRv7zWk
Solving a Real SQL Interview Problem | Job Vacancies SQL Query
2023-08-25
PLN28d0PoFU
Python Bootcamp for Beginners | Python Course | Live Training
2023-08-20
GxmrInUIMAE
SQL Data Analytics Project (PART 3) | Data Analyst Portfolio Project
2023-08-19
D0-Qy7yk5TQ
SQL Data Analytics Project (PART 2) | Data Analyst Portfolio Project
2023-08-06
GHtX0QXfi6g
SQL Data Analytics Project (PART 1) | Data Analyst Portfolio Project
2023-08-04
0QcEqFrhb_Y
Learn SQL from me | Live SQL Training | SQL Bootcamp
2023-05-25
smztq8sRAhk
Learn Python here | Learn Python Programming here
2023-05-16
7skZzocEU6c
Solving a Complex SQL Interview problem | Practice SQL Queries
2023-03-21
LZGaRcDxj8I
REAL SQL Interview Problem | Hierarchical data in SQL
2023-03-14
rBPQ5fg_kiY
Complete guide to Database Normalization in SQL
2023-03-07
hvwltYazuQo
SQL Live class on Lighthall | Learn SQL from Basic to Advance in SQL Bootcamp
2023-01-26
a-hFbr-4VQQ
How to learn SQL for free | Roadmap to learning SQL
2022-12-28
a-hFbr-4VQQ
How to learn SQL for free | Roadmap to learning SQL
2022-12-28
pMNcPLc9Z7c
Solving an SQL Interview Problem
2022-12-18
zZKb8FQRShs
Solving SQL Interview Query | Find Tree Node type using SQL
2022-12-12
jS5_hjFgfzA
Solving SQL Interview Query for Data Analyst asked by a Product based company
2022-12-07
6UAU79FNBjQ
Solving a tricky SQL Interview Query
2022-11-21
ZwFfiadQB3k
SQL Interview Query for Data Analyst
2022-11-14
Det4ZjBSe3M
Solving a Complex SQL Interview Problem | Find the Most Modified File Extension
2022-10-31
xUsY2jWQa1w
SQL JOINS Interview Question | What does different SQL Joins return?
2022-10-24
ueOUSjdAZY8
Google SQL Interview Problem | Solving SQL Interview Query
2022-10-10
90iK6gGvG_g
SQL Interview Problem asked by Product Based Company | Solving SQL Interview Query
2022-10-05
hsaPfEvForM
How to become a Data Analyst FASTER ?
2022-09-30
jb8XlF2dkoY
Tricky SQL Interview Query | Practice Solving SQL Interview Queries
2022-09-22
WhkNQ3g0U64
Solving SQL Interview Query using a &quot;VERY IMPORTANT SQL concept&quot;
2022-09-19
_suB8xV9aPc
Solving SQL Interview Query | SQL Problem by Service based company
2022-09-16
dWHSt0BVlv0
Practice SQL Interview Query | Big 4 Interview Question
2022-09-12
xJVWL7eMir0
Solving SQL Interview Query | Ungroup given input data | FAANG Interview Query
2022-09-08
h48xzQR3wNQ
How to remove Duplicate Data in SQL | SQL Query to remove duplicate
2022-09-02
h48xzQR3wNQ
How to remove Duplicate Data in SQL | SQL Query to remove duplicate
2022-09-02
h48xzQR3wNQ
How to remove Duplicate Data in SQL | SQL Query to remove duplicate
2022-09-02
h48xzQR3wNQ
How to remove Duplicate Data in SQL | SQL Query to remove duplicate
2022-09-02
S5gX-LLAZIM
Solving Complex SQL Query from HackerRank | SQL Interview Query
2022-08-10
LNlzx-YX8rI
Data Analyst vs Business Analyst | What should you choose?
2022-07-26
WzkBZ0byoYE
Materialized View in SQL | Faster SQL Queries using Materialized Views
2022-07-07
weCZ1WynbMI
Learn SQL the right way | SQL Live Training | Learn SQL from me
2022-06-28
3dOxGYkpVbE
SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 2 (Query Solution)
2022-06-21
9dLXZrw6nac
SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 1 (Problem Statement)
2022-06-17
i3xK7Nc414Q
REAL SQL Interview Question | Complex SQL Interview Query and Solution
2022-06-03
H7YMumanHBA
Top 10 Tips for JOB Interview | Tips for Job Interview
2022-05-25
4p-G7fGhqRk
Solving SQL Query | Rows to Column in SQL
2022-05-18
yLR1w4tZ36I
Procedure Tutorial in SQL | SQL Stored Procedure | Procedure in SQL
2022-05-01
-DiOp9vAEuM
my Live SQL Course Announcement #shorts
2022-04-05
O1o9m9T1c3k
Best Online SQL Course to practically learn and practice SQL
2022-03-30
7hZYh9qXxe4
Recursive SQL Queries Tutorial | Learn to write SQL Queries using Recursion
2022-03-23
aE623ff7zkM
Solving SQL Interview Queries | Tricky SQL Interview Queries
2022-03-16
eXJGjbDo5KY
How to learn SQL | Step by Step Guide on how to learn SQL
2022-03-02
O52sweYbCyI
ANSI vs Non ANSI Joins in SQL | SQL Query Writing using ANSI and Non ANSI method
2022-02-23
O52sweYbCyI
ANSI vs Non ANSI Joins in SQL | SQL Query Writing using ANSI and Non ANSI method
2022-02-23
O52sweYbCyI
ANSI vs Non ANSI Joins in SQL | SQL Query Writing using ANSI and Non ANSI method
2022-02-23

In [186]:

url_video_stats = 'https://www.googleapis.com/youtube/v3/videos?id='+video_id+'&part=statistics&key='+API_KEY

response_video_stas = requests.get(url_video_stats).json()

In [187]:
response_video_stas

{'kind': 'youtube#videoListResponse',
 'etag': 'wt6dQi2b4pyFmeUBrUy6FGOBdfU',
 'items': [{'kind': 'youtube#video',
   'etag': 'rw0bzj_vHGjdLBHIOWRsrjiI-Oc',
   'id': 'O52sweYbCyI',
   'statistics': {'viewCount': '30339',
    'likeCount': '681',
    'favoriteCount': '0',
    'commentCount': '84'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [188]:
response_video_stas['items'][0]['statistics']

{'viewCount': '30339',
 'likeCount': '681',
 'favoriteCount': '0',
 'commentCount': '84'}

In [189]:
def get_video_detail(video_id):

        url_video_stats = 'https://www.googleapis.com/youtube/v3/videos?id='+video_id+'&part=statistics&key='+API_KEY

        response_video_stas = requests.get(url_video_stats).json() 

        view_count = response_video_stas['items'][0]['statistics']['viewCount']
        like_count = response_video_stas['items'][0]['statistics']['likeCount']
        favorite_count = response_video_stas['items'][0]['statistics']['favoriteCount']
        comment_count = response_video_stas['items'][0]['statistics']['commentCount']
        
        
        return view_count, like_count, favorite_count, comment_count

In [190]:
def get_videos(df):
    pageToken = ""
    while 1:
        url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+Channel_id+"&part=snippet,id&order=date&maxResults=10000&"+pageToken

        response = requests.get(url).json()
        time.sleep(1) #give it a second before starting the for loop
        for video in response['items']:
            if video['id']['kind'] == "youtube#video":
                video_id = video['id']['videoId']
                video_title = video['snippet']['title']
                video_title = str(video_title).replace("&","")
                upload_date = video['snippet']['publishedAt']
                upload_date = str(upload_date).split("T")[0]
                
                
                view_count, like_count, favorite_count, comment_count = get_video_detail(video_id)

                df = df.append({'video_id':video_id,'video_title':video_title,
                                "upload_date":upload_date,"view_count":view_count,
                                "like_count":like_count,"favorite_count":favorite_count,
                                "comment_count":comment_count},ignore_index=True)
        try:
            if response['nextPageToken'] != None: #if none, it means it reached the last page and break out of it
                pageToken = "pageToken=" + response['nextPageToken']

        except:
            break


    return df

In [191]:
df = pd.DataFrame(columns= ['video_id', 'video_title', 'upload_date', 'view_count', 'like_count', 'favorite_count', 'comment_count'])

df = get_videos(df)

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10440\2869218997.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id':video_id,'video_title':video_title,

In [192]:
df

,video_id,video_title,upload_date,view_count,like_count,favorite_count,comment_count
0,HiscSRv7zWk,Solving a Real SQL Interview Problem | Job Vac...,2023-08-25,13495,621,0,92
1,PLN28d0PoFU,Python Bootcamp for Beginners | Python Course ...,2023-08-20,3321,139,0,28
2,GxmrInUIMAE,SQL Data Analytics Project (PART 3) | Data Ana...,2023-08-19,6229,217,0,31
3,D0-Qy7yk5TQ,SQL Data Analytics Project (PART 2) | Data Ana...,2023-08-06,10180,333,0,41
4,GHtX0QXfi6g,SQL Data Analytics Project (PART 1) | Data Ana...,2023-08-04,35424,1356,0,115
...,...,...,...,...,...,...,...
89,1aybOgni7lI,How to install PostgreSQL on Mac OS | Install ...,2020-11-16,75243,715,0,98
90,j09EQ-xlh88,Learn What is Database | Types of Database | DBMS,2020-08-30,225101,3955,0,127
91,7nzTDrio7vY,Do you need a Smartwatch,2020-07-12,11397,185,0,46
92,J-uCLHTIWZ4,MacBook Pro 13 2020 One Week Later Review,2020-06-29,1404,72,0,20
93,_BMPh5M4BIY,MacBook Pro 13 2020 Unboxing,2020-06-22,2609,94,0,29

In [28]:
# df.drop(columns = ['like_count'], axis = 1, inplace = True)

In [193]:
df['favorite_count'].nunique()

1

In [194]:
df['favorite_count'].value_counts()

0    94
Name: favorite_count, dtype: int64

In [195]:
df['view_count'].max()

'9607'

In [196]:
df['vc'] = pd.to_numeric(df['view_count'])
df['fc'] = pd.to_numeric(df['favorite_count'])
df['cc'] = pd.to_numeric(df['comment_count'])
df['lc'] = pd.to_numeric(df['like_count'])

In [197]:
df

,video_id,video_title,upload_date,view_count,like_count,favorite_count,comment_count,vc,fc,cc,lc
0,HiscSRv7zWk,Solving a Real SQL Interview Problem | Job Vac...,2023-08-25,13495,621,0,92,13495,0,92,621
1,PLN28d0PoFU,Python Bootcamp for Beginners | Python Course ...,2023-08-20,3321,139,0,28,3321,0,28,139
2,GxmrInUIMAE,SQL Data Analytics Project (PART 3) | Data Ana...,2023-08-19,6229,217,0,31,6229,0,31,217
3,D0-Qy7yk5TQ,SQL Data Analytics Project (PART 2) | Data Ana...,2023-08-06,10180,333,0,41,10180,0,41,333
4,GHtX0QXfi6g,SQL Data Analytics Project (PART 1) | Data Ana...,2023-08-04,35424,1356,0,115,35424,0,115,1356
...,...,...,...,...,...,...,...,...,...,...,...
89,1aybOgni7lI,How to install PostgreSQL on Mac OS | Install ...,2020-11-16,75243,715,0,98,75243,0,98,715
90,j09EQ-xlh88,Learn What is Database | Types of Database | DBMS,2020-08-30,225101,3955,0,127,225101,0,127,3955
91,7nzTDrio7vY,Do you need a Smartwatch,2020-07-12,11397,185,0,46,11397,0,46,185
92,J-uCLHTIWZ4,MacBook Pro 13 2020 One Week Later Review,2020-06-29,1404,72,0,20,1404,0,20,72
93,_BMPh5M4BIY,MacBook Pro 13 2020 Unboxing,2020-06-22,2609,94,0,29,2609,0,29,94

In [198]:
df['vc'].max()

1244335

In [199]:
df.drop(df.columns[[3,4,5,6]], axis=1,inplace = True)

In [200]:
df

,video_id,video_title,upload_date,vc,fc,cc,lc
0,HiscSRv7zWk,Solving a Real SQL Interview Problem | Job Vac...,2023-08-25,13495,0,92,621
1,PLN28d0PoFU,Python Bootcamp for Beginners | Python Course ...,2023-08-20,3321,0,28,139
2,GxmrInUIMAE,SQL Data Analytics Project (PART 3) | Data Ana...,2023-08-19,6229,0,31,217
3,D0-Qy7yk5TQ,SQL Data Analytics Project (PART 2) | Data Ana...,2023-08-06,10180,0,41,333
4,GHtX0QXfi6g,SQL Data Analytics Project (PART 1) | Data Ana...,2023-08-04,35424,0,115,1356
...,...,...,...,...,...,...,...
89,1aybOgni7lI,How to install PostgreSQL on Mac OS | Install ...,2020-11-16,75243,0,98,715
90,j09EQ-xlh88,Learn What is Database | Types of Database | DBMS,2020-08-30,225101,0,127,3955
91,7nzTDrio7vY,Do you need a Smartwatch,2020-07-12,11397,0,46,185
92,J-uCLHTIWZ4,MacBook Pro 13 2020 One Week Later Review,2020-06-29,1404,0,20,72
93,_BMPh5M4BIY,MacBook Pro 13 2020 Unboxing,2020-06-22,2609,0,29,94

In [201]:
df['cc'].max()

1183

In [202]:
df.to_csv("Cleaned_Youtube_videos_API.csv")

In [158]:
new_df = pd.read_csv("Cleaned_Youtube_videos_API.csv", index_col = False)

In [159]:
new_df

,Unnamed: 0,video_id,video_title,upload_date,vc,fc,cc,lc
0,0,3FRoEyC0hdI,How To Be a Lazy Data Scientist With AI Chrome...,2023-08-16,694,0,1,57
1,1,EDArFuFl0tU,3 Popular Machine Learning Algorithms In 5 Min,2023-08-10,605,0,3,22
2,2,0rSuMJB6IE4,6 Skills for the New Data Scientist,2023-07-26,1503,0,10,107
3,3,Y0hCQsCMIZM,15 ChatGPT Plugins for Data Science,2023-07-19,838,0,6,62
4,4,pBC6DJRBzSw,Unsupervised Feature Selection for Machine Lea...,2023-07-12,523,0,1,11
...,...,...,...,...,...,...,...,...
166,166,UX4_IgagL9I,How to Use Google Colaboratory | Import a CSV ...,2020-05-02,2606,0,2,15
167,167,tDdo3FiWpgE,Interview Questions for SQL Joins and Subqueries,2020-02-01,1951,0,0,28
168,168,wW827gqxlRY,SQL Job Interview Mistakes #2,2019-09-15,1197,0,0,21
169,169,xbc2GpGUXwc,SQL Job Interview Mistakes #1,2019-08-03,8207,0,1,76
170,170,n6gM265zG68,SQL Query Interview Questions And Answers From...,2019-06-26,44533,0,9,582

In [160]:
new_df.drop(columns = ['Unnamed: 0'], axis =1, inplace = True)

In [161]:
new_df

,video_id,video_title,upload_date,vc,fc,cc,lc
0,3FRoEyC0hdI,How To Be a Lazy Data Scientist With AI Chrome...,2023-08-16,694,0,1,57
1,EDArFuFl0tU,3 Popular Machine Learning Algorithms In 5 Min,2023-08-10,605,0,3,22
2,0rSuMJB6IE4,6 Skills for the New Data Scientist,2023-07-26,1503,0,10,107
3,Y0hCQsCMIZM,15 ChatGPT Plugins for Data Science,2023-07-19,838,0,6,62
4,pBC6DJRBzSw,Unsupervised Feature Selection for Machine Lea...,2023-07-12,523,0,1,11
...,...,...,...,...,...,...,...
166,UX4_IgagL9I,How to Use Google Colaboratory | Import a CSV ...,2020-05-02,2606,0,2,15
167,tDdo3FiWpgE,Interview Questions for SQL Joins and Subqueries,2020-02-01,1951,0,0,28
168,wW827gqxlRY,SQL Job Interview Mistakes #2,2019-09-15,1197,0,0,21
169,xbc2GpGUXwc,SQL Job Interview Mistakes #1,2019-08-03,8207,0,1,76
170,n6gM265zG68,SQL Query Interview Questions And Answers From...,2019-06-26,44533,0,9,582

# MAX VIEW COUNT

In [162]:
filt = new_df['vc'] == new_df['vc'].max()

In [163]:
new_df[filt]['video_title']

110    The One and Only Data Science Project You Need
Name: video_title, dtype: object

# MOST Liked

In [164]:
new_df['liked'] = new_df['vc'] / new_df['lc']

In [165]:
new_df.max()

video_id                                             yoUO84tOH3c
video_title    merge() Method to Join Multiple Pandas Datafra...
upload_date                                           2023-08-16
vc                                                        288736
fc                                                             0
cc                                                           351
lc                                                         17148
liked                                                 173.733333
dtype: object

In [166]:
new_df['upload_date'].sort_values()

170    2019-06-26
169    2019-08-03
168    2019-09-15
167    2020-02-01
166    2020-05-02
          ...
4      2023-07-12
3      2023-07-19
2      2023-07-26
1      2023-08-10
0      2023-08-16
Name: upload_date, Length: 171, dtype: object

In [167]:
new_df.sort_values(by = 'upload_date', ascending = True)

,video_id,video_title,upload_date,vc,fc,cc,lc,liked
170,n6gM265zG68,SQL Query Interview Questions And Answers From...,2019-06-26,44533,0,9,582,76.517182
169,xbc2GpGUXwc,SQL Job Interview Mistakes #1,2019-08-03,8207,0,1,76,107.986842
168,wW827gqxlRY,SQL Job Interview Mistakes #2,2019-09-15,1197,0,0,21,57.000000
167,tDdo3FiWpgE,Interview Questions for SQL Joins and Subqueries,2020-02-01,1951,0,0,28,69.678571
166,UX4_IgagL9I,How to Use Google Colaboratory | Import a CSV ...,2020-05-02,2606,0,2,15,173.733333
...,...,...,...,...,...,...,...,...
4,pBC6DJRBzSw,Unsupervised Feature Selection for Machine Lea...,2023-07-12,523,0,1,11,47.545455
3,Y0hCQsCMIZM,15 ChatGPT Plugins for Data Science,2023-07-19,838,0,6,62,13.516129
2,0rSuMJB6IE4,6 Skills for the New Data Scientist,2023-07-26,1503,0,10,107,14.046729
1,EDArFuFl0tU,3 Popular Machine Learning Algorithms In 5 Min,2023-08-10,605,0,3,22,27.500000
0,3FRoEyC0hdI,How To Be a Lazy Data Scientist With AI Chrome...,2023-08-16,694,0,1,57,12.175439